html {
  height: 100%;
}

body {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #343A40;
  min-height: 100%;
}

.hero-div {
  background-color: rgb(12, 92, 1);
  height: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-image {
  background-image: url("/yehoshua/resources/img/fondo.png");
  background-color: #cccccc;
  height: 90%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-image-vendedor {
  background-image: url("/yehoshua/resources/img/vendedores.jpg");
  background-color: #cccccc;
  height: 150%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-image-users {
  background-image: url("/yehoshua/resources/img/errorLogin.jpg");
  background-color: #cccccc;
  height: 90%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-image-logout {
  background-image: url("/yehoshua/resources/img/logout.jpg");
  background-color: #cccccc;
  height: 90%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-image-admin {
  background-image: url("/yehoshua/resources/img/administracion.jpg");
  background-color: #cccccc;
  height: 90%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
}

.hero-text-form {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  width: 70%;
}

.borderline-form {
  border-style: solid;
  border-width: 0.2rem;
  margin-top: 1.8rem;
  margin-bottom: 1.8rem;
  margin-left: 0.2rem;
  margin-right: 0.2rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  padding-left: 0.1rem;
  padding-right: 0.1rem;
  border-radius: 10px;
  border-color: rgb(255, 103, 0);
}

.background-info {
  background-color: rgba(255, 255, 255, 0.8);
  border-style: solid;
  border-width: 0.3rem;
  border-color: rgba(10, 81, 0, 0.8);
  border-radius: 20px;
  padding: 1rem;
}

.background-evento {
  background-color: rgba(255, 255, 255, 0.8);
  border-style: solid;
  border-width: 0.3rem;
  border-color: rgb(22, 22, 22);
  padding: 1rem;
}

.logo-index {
  border-style: double;
  border-width: 10px;
  border-radius: 20px;
  border-color: rgb(255, 255, 255);
  padding: 0.5rem;
  background-color: rgba(10, 81, 0, 0.4);
}

.footer {
  position: block;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0.3rem;
  background-color: rgb(83, 83, 83);
  color: white;
  text-align: center;
}

.fail-icons {
  color: darkred;
  font-size: 1.5rem;
}

.text-advertencia{
  color: rgb(255,20,20);
  text-transform: uppercase;
  font-weight: bold;
}

@media (min-width: 320px) {

  .hero-image,
  .hero-image-logout,
  .hero-image-users,
  .hero-image-vendedor {
    width: 320px;
  }

  .hero-image-vendedor {
    height: 280%;
  }
}

@media (min-width: 480px) {
  .mt-5 {
    margin-top: 5rem !important;
  }

  .hero-image,
  .hero-image-logout,
  .hero-image-users,
  .hero-image-vendedor {
    width: 480px;
  }

  .hero-image-vendedor {
    height: 380%;
  }
}

@media (min-width: 600px) {
  .mt-5 {
    margin-top: 5rem !important;
  }

  .hero-image,
  .hero-image-logout,
  .hero-image-users,
  .hero-image-vendedor {
    width: 600px;
  }

  .hero-image-vendedor {
    height: 130%;
  }
}

@media(min-width: 768px) {

  .hero-image,
  .hero-image-logout,
  .hero-image-users,
  .hero-image-vendedor {
    width: 768px;
  }

  .hero-image-vendedor {
    height: 100%;
  }
}

@media(min-width: 800px) {

  .hero-image,
  .hero-image-logout,
  .hero-image-users,
  .hero-image-vendedor {
    width: 100%;
  }

  .hero-image-vendedor {
    height: 150%;
  }
}